body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* reset */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
/* reset end */

body {
  padding-top: 100px;
}

/**
  |============================
  | Flexbox layout
  |============================
*/
.flex-container,
.team-list,
.gallery-list {
  width: 800px;
  /* min-height: 600px; */
  padding: 20px;
  margin: 0 auto;

  background-color: lightblue;
  border-radius: 10px;
}

.flex-element,
.team-item {
  /* width: 150px; */
  height: 150px;

  font-size: 3em;
  line-height: 150px;
  color: white;
  text-align: center;

  border-radius: 10px;
  background-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.team-list {
  background-color: blueviolet;
}
.team-item {
  background-color: lightseagreen;
}
/**
  |============================
  | Flexbox properties
  |============================
*/
:root {
  --items: 4;
  --indent-col: 40px;
  --indent-row: var(--indent-col);
}
.flex-container {
  /* display: flex;
  flex-wrap: wrap;
  gap: 100px 53px; */

  /* justify-content: space-between;
  align-items: baseline; */

  /* Default properties */
  /*
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: stretch;

  */
}

.flex-element {
  /* margin-right: 53px;
  margin-bottom: 50px; */
}

/* .flex-element:nth-child(4n) {
  margin-right: 0;
}
.flex-element:nth-last-child(-n + 4) {
  margin-bottom: 0;
} */

/**
  |============================
  | Flexbox grid
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-row);
  column-gap: var(--indent-col);
}

.card-set-item {
  width: calc((100% - var(--indent-col) * (var(--items) - 1)) / var(--items));

  /* width: calc((100% - var(--indent-col) * var(--items)) / var(--items)); */
}

/* .team-list {
  --items: 3;
  --indent-row: 80px;
  --indent-col: 10px;
}

.gallery-list {
  --items: 5;
} */

/* .flex-container {
  margin: -20px;
}

.flex-element {
  margin: 20px;
} */
